<div class="background">

<div class="show">
<%= form_for @user do |f| %>

   <li> <%= f.text_field :name,  :placeholder => "Full Name", :autofocus => true, :class => "css_class" %></li>

    
   <li> <%= f.text_field :email, :placeholder => "Email", :class => "css_class" %></li>
  

     
   <li> <%= f.file_field :avatar, :class => "css_avatar"  %></li>
    <li><%= f.hidden_field :avatar_cache, :class => "css_avatar" %></li>
  
  
 

  <%= f.button 'Create User' %>
  <hr>
<% end %>
  </div>
</div>